{% extends "blog/base.html" %}
{% load static %}
{% block content %}


<h2>Create new Django App in project</h2>
<ol>
  <li>manage.py startapp xyz</li>
  <li>Register your app in project/settings.py (name is in apps.py)</li>
  <li>add template folder in app dir</li>
  <li>add html</li>
  <li>add to views</li>
  <li>create urls.py</li>
  <li>add to urls.py</li>
  <li>add to urls.py in project</li>

</ol> 



<h2>Create new Django HTML in App</h2>
<ol>
  <li>create html template</li>
  <li>add to urls.py</li>
  <li>add to views</li>
  <li>add link somewhere</li>
</ol> 





{% endblock content %}