{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">


<p style="color:purple; font-size: 48px;font-family: 'Audiowide', cursive;">Bratapfel2000</font></p>


<h2>Online Compilers + Code Editors</h2>
<a class="nav-item nav-link" href="https://www.jdoodle.com/"target="_blank">Online Compilers</a>
<a class="nav-item nav-link" href="https://www.tutorialspoint.com/codingground.htm"target="_blank">More Online Compilers</a>
<a class="nav-item nav-link" href="https://www.ideone.com"target="_blank">Even more Online Compilers</a>
<a class="nav-item nav-link" href="https://ide.judge0.com"target="_blank">Even again more Online Compilers</a>
<a class="nav-item nav-link" href="https://brython.info/tests/console.html?lang=en"target="_blank">Brython Online Python Console</a>
<a class="nav-item nav-link" href="http://cb.vu"target="_blank">Unix Online</a>
<a class="nav-item nav-link" href="https://repl.it/languages"target="_blank">repl.it</a>
<a class="nav-item nav-link" href="https://codebunk.com"target="_blank">Coop-Coding with codebunk.com</a>
<a class="nav-item nav-link" href="https://www.iprodev.com/20-best-code-editors-for-real-time-collaboration/"target="_blank">20 Best Code Editors for Real Time Collaboration</a>



<h2>Datasets</h2>
<a class="nav-item nav-link" href="https://www.kaggle.com/"target="_blank">Kaggle</a>
<a class="nav-item nav-link" href="http://www.europeansocialsurvey.org/"target="_blank">http://www.europeansocialsurvey.org/</a>
<a class="nav-item nav-link" href="https://data.gov.uk/"target="_blank">https://data.gov.uk/</a>
<a class="nav-item nav-link" href="https://www.science.gov/"target="_blank">https://www.science.gov/</a>
<a class="nav-item nav-link" href="https://www.data.gov/"target="_blank">https://www.data.gov/</a>
<a class="nav-item nav-link" href="http://gss.norc.org/"target="_blank">http://gss.norc.org/</a>
<a class="nav-item nav-link" href="https://data.worldbank.org/"target="_blank">https://data.worldbank.org/</a>
<a class="nav-item nav-link" href="https://data.oecd.org/"target="_blank">https://data.oecd.org/</a>
<a class="nav-item nav-link" href="https://www.govdata.de/"target="_blank">https://www.govdata.de/</a>
<a class="nav-item nav-link" href="https://www-genesis.destatis.de/genesis/online"target="_blank">https://www-genesis.destatis.de/genesis/online</a>
<a class="nav-item nav-link" href="http://www.deutschland-in-daten.de/datensatz/"target="_blank">http://www.deutschland-in-daten.de/datensatz/</a>
<a class="nav-item nav-link" href="https://www.quandl.com/"target="_blank">Quandl</a>
<a class="nav-item nav-link" href="https://archive.ics.uci.edu/ml/index.php"target="_blank">UCI Machine Learning Repository</a>
<a class="nav-item nav-link" href="https://grouplens.org/datasets/movielens/"target="_blank">MovieLens</a>


<h2>Unix</h2>
<a class="nav-item nav-link" href="http://cb.vu"target="_blank">Virtual Terminal</a>
<a class="nav-item nav-link" href="http://cb.vu/unixtoolbox.xhtml"target="_blank">UNIX TOOLBOX</a>
<a class="nav-item nav-link" href="https://cfenollosa.com/misc/tricks.txt"target="_blank">Unix tricks</a>
<a class="nav-item nav-link" href="https://kkovacs.eu/cool-but-obscure-unix-tools"target="_blank">Collection of tools</a>

</br></br>

<h2>Machine Learning</h2>
<a class="nav-item nav-link" href="https://www.csie.ntu.edu.tw/~cjlin/liblinear/"target="_blank">LIBLINEAR</a>
<a class="nav-item nav-link" href="https://www.csie.ntu.edu.tw/~cjlin/libsvm/"target="_blank">LIBSVM</a>




{% endblock content %}