{% extends "blog/base.html" %}
{% block content %}
	<h1>Sitemap</h1>

			</br>			
	          <a class="nav-item nav-link" href="{% url 'react' %}">ToDoMVC Typescript-React</a>
</br>	

	          <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
	          <a class="nav-item nav-link" href="{% url 'blog-sitemap' %}">sitemap</a>
	          <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
	          <a class="nav-item nav-link" href="{% url 'blog-contact' %}">Contact</a>
			</br>
			</br>
			</br>			
	          <a class="nav-item nav-link" href="{% url 'ba2k-django-setup' %}">Django Setups</a>


			</br>
			</br>
			</br>
	          <a class="nav-item nav-link" href="{% url 'ba2k-home' %}">Bratapfel2000</a>
	          <a class="nav-item nav-link" href="{% url 'ba2k-main' %}">Bratapfel2000 Main</a>
	          <a class="nav-item nav-link" href="{% url 'ba2k-experiments' %}">Bratapfel2000 ba2k-experiments</a>
	          <a class="nav-item nav-link" href="{% url 'ba2k-zwischenspeicher' %}">Bratapfel2000 ba2k-zwischenspeicher</a>
	          <a class="nav-item nav-link" href="{% url 'ba2k_testarea_1' %}">Bratapfel2000 ba2k_testarea_1</a>


{% endblock content %}