{% extends "blog/base.html" %}
{% block content %}
	<h1>Sondermünzsammlung 2000</h1>
</br>

<div>
<h3>Kategorien:</h3>
<ul>
<li> normale 2 euro münze </li>

<ul>
<li>bild </li>
<li>prägungsstadt (G,E,F...)  </li>
<li>jahr </li>
<li>erhalten (gut, mittel, schlecht, ranzig) </li>
</ul>

<li> bundeslandmünze ? </li>
<ul>
<li>bild </li>
<li>prägungsstadt (G,E,F...)  </li>
<li>jahr </li>
<li>erhalten (gut, mittel, schlecht, ranzig) </li>
</ul>



<li> sondermünze  </li>
<ul>
<li>bild </li>
<li>prägungsstadt (G,E,F...)  </li>
<li>jahr </li>
<li>erhalten (gut, mittel, schlecht, ranzig) </li>
</ul>

</ul>
</br>
<a href='https://stackoverflow.com/questions/60120266/django-categories-and-subcategories'>Stackoverflow link</a>
</br>
<a href='https://djangopy.org/package-of-week/categories-with-django-mptt/'>Categories with django-mptt</a>

</div>




{% endblock content %}